[submodule "libs/dqn-lab"]
	path = libs/dqn-lab
	url = https://github.com/pabloramesc/dqn-lab.git

[submodule "network_sim/ns-3"]
    path = network_sim/ns-3
    url = https://gitlab.com/nsnam/ns-3-dev.git